<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Weight Diary</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
<body>
<nav th:replace="fragments/fragment :: navbar('home')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="d-flex flex-column justify-content-center" style="gap: 16px;">
                <h2>Daftar Berat Badan</h2>
                <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"><br></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"><br></div>
                <div class="d-flex" style="gap: 12px;">
                    <a class="btn btn-primary" href="/add">Tambah Berat Badan</a>
                </div>
                <table class="w-100 table table-striped" id="weightTable" th:if="${listWeight.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Tanggal</th>
                        <th scope="col" class="text-center">Max</th>
                        <th scope="col" class="text-center">Min</th>
                        <th scope="col" class="text-center">Perbedaan</th>
                        <th scope="col" class="text-center">Aksi</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="weight, iterationStatus: ${listWeight}">
                        <td th:text="${weight.date}" ></td>
                        <td th:text="${weight.max}"></td>
                        <td th:text="${weight.min}" ></td>
                        <td th:text="${weight.max - weight.min}"></td>
                        <td class="d-flex justify-content-center gap-2">
                            <a class="btn btn-primary" th:href="@{/detail/} + ${weight.id}">Detail</a>
                            <a class="btn btn-primary" th:href="@{/update/} + ${weight.id}">Ubah</a>
                            <form method="post" th:action="@{/delete/} + ${weight.id}">
                                <button class="btn btn-danger" type="submit" name="delete">Hapus</button>
                            </form>
                        </td>
                    </tr>
                    <tr class="fw-bold">
                        <td>Rata-rata</td>
                        <td th:text="${averageMin}"></td>
                        <td th:text="${averageMax}"></td>
                        <td th:text="${averageDiff}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${listWeight.size() != 0}">
                <h4 class="text-center">Belum Ada Berat Badan</h4>
            </div>
        </div>
    </div>
</div>
<script th:inline="none">
    // $(document).ready(function () {
    //     $("#weightTable").DataTable({
    //         "order": [
    //             [0, "desc"]
    //         ],
    //     });
    // });
</script>
</body>
</html>
